/*
--------------
Reset---------
--------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------------
Palette-------
--------------
*/

:root {
    --bg-color1: #b5d0e7;

    --bg-color2: #0061ff;

    --bg-color3: #61072B;

    --bg-color4: #999999;
}

/*
--------------
Typography----
--------------
*/

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 12px;
}

h5 {
    font-size: 10px;
}

/*
--------------
Common--------
--------------
*/

.container {
    width: 1000px;
    margin: 0 auto;
}

.container-footer {
    width: 1200px;
    margin: 0 auto;
}

/*
--------------
Debug---------
--------------
*/

.debug .container {
    background-color: pink;
    border: 2px dashed black;
}

.debug .container-footer {
    background-color: rgb(112, 183, 216);
    border: 2px dashed black;
}

body.debug {
    background-color: rgb(226, 226, 226);
}

/*
--------------
Header--------
--------------
*/

/*
--------------
Main----------
--------------
*/

/*
--------------
Footer--------
--------------
*/